@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

.texto {
    z-index: 0;
    position: absolute;
    display: block;
    text-align: center;
    min-width: 200px;
    height: 400px;
    width: 100%;
    align-content: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.titulo {
    border: 5px solid white;
    background: white;
}

a:hover,
a:active {
    color: black;
}

p {
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 10px;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
}

h1 {
    color: black;
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    letter-spacing: 10px;
    background: black;
    color: white;
    padding: 10px;

}

h3 {
    font-size: 25px;
    letter-spacing: 2px;
    background: yellow;
    color: black;
    padding: 10px;
}

h4 {
    font-size: 25px;
    letter-spacing: 2px;
    background: black;
    color: white;
}

h4:hover {
    background-color: yellow;
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}

h5 {
    color: red;
    font-size: 25px;
    letter-spacing: 2px;
    background: white;
    padding: 10px;
}


h6 {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    background: black;
    padding: 30px;
}

/* fundo slide */

.mySlides {
    display: block;
    z-index: 1;
    height: 100%;
}